html, body {
  height: 100%;
}

body {
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background: #001821;
}

.wrapper {
  overflow: hidden;
  min-width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-page-wrapper {
  background: url("../../img/background.png") center top no-repeat, url("../../img/background-two.png") right bottom 150px no-repeat;
}

.wrapper__content {
flex: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}