.paginator {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginator__list {
display: flex;
align-items: center;
}

.paginator__display {
  margin-right: 35px;
}

.paginator__item {
  text-align: center;
  margin-right: 2px;
}

.paginator__item:last-child {
  margin-right: 0;
}

.paginator__item:hover .paginator__link {
  background: #fff;
  color: #F5170E;
  transition: 0.3s;
}

.paginator__item--active .paginator__link {
background: #fff;
color: #F5170E;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: bold;
  text-decoration: none;
  line-height: 32px;
  transition: 0.3s;
} 

.paginator--dark {
  color: #000;
}

.paginator--dark .paginator__item--active .paginator__link {
  color: #fff;
  background: #F5170E;
} 

.paginator--dark .paginator__item:hover .paginator__link {
  color: #fff;
  background: #F5170E;
  transition: 0.3s;
} 